{% extends 'base.html' %}

{% block title %}
<title>Каталог</title>
<meta name="description" content="Каталог товаров">
<meta name="keywords" content="каталог, товары, продукты">
{% endblock %}

{% block content %}
<main role="main">
    <div class="container py-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        </ol>
        <h1 class="mt-0 mb-4">Каталог</h1>

        <div class="row">
            <div class="col-lg-4 mb-4">
                {% for item in categories1 %}
                <a class="dropdown-item mb-1 
                        {% if not item.parent %} font-500 h6 {% endif %} 
                        {% if item.sub_categories and item.parent %} font-500 {% endif %} 
                        {% if not item.sub_categories and item.parent.parent %} pl-3 {% else %} px-0 {% endif %}
                " href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                {% endfor %}
            </div>
            <div class="col-lg-4 mb-4">
                {% for item in categories2 %}
                <a class="dropdown-item mb-1 
                        {% if not item.parent %} font-500 h6 {% endif %} 
                        {% if item.sub_categories and item.parent %} font-500 {% endif %} 
                        {% if not item.sub_categories and item.parent.parent %} pl-3 {% else %} px-0 {% endif %}
                " href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                {% endfor %}
            </div>
            <div class="col-lg-4 mb-4">
                {% for item in categories3 %}
                <a class="dropdown-item mb-1 
                        {% if not item.parent %} font-500 h6 {% endif %} 
                        {% if item.sub_categories and item.parent %} font-500 {% endif %} 
                        {% if not item.sub_categories and item.parent.parent %} pl-3 {% else %} px-0 {% endif %}
                " href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

</main>
{% endblock %}